<%= provide(:title, 'About Us') %>
<article>
  <div class="container container-about-fix row">
    <div class="ill-parachute"></div>
    <hgroup>
      <h1>ABOUT SCHEMER</h1>
      <h3>Ever wonder what to do? Us too. Schemer can help.</h3>
    </hgroup>
    <p>
      Whether it’s exploring a new city, checking out a friend’s movie recommendation, or just finding new activities for your weekends, Schemer lets you discover new things to do, share schemes with friends, and make the most of your day.
    </p>
    <p>
      Think you’re up for it? Join Schemer.
    </p>
    <h3>About the Team</h3>
    <p>
      We started out as a scrappy team of Google engineers who wanted to help people do fun stuff in the real world. So we went ahead and built Schemer! We hope you like it.
    </p>
    <p>Some of us have mustaches. Most of us don’t.</p>
    <p>We can’t wait to see what you scheme up!</p>
    <h3>Our Partners</h3>
    <p>We’re excited to have some amazing accomplices on Schemer:</p>
    <p>See what they've been scheming up in our Gallery</p>
    <p>
      Schemer is growing! We’re teaming up with celebrities, media producers, and experts as content partners.If you’re interested in telling the world about the things you like to do, email us.
    </p>
  </div>
</article>